/* News */
.news-header{margin-top:0px;margin-bottom:0px;padding-top:20px;padding-bottom:20px;text-align:center;font-weight:300;color:{{primaryLightColor}};font-size:30px;}
.secondary-background{background: {{secondaryBackgroundColor}};}
.newsitem-date{font-size:12px;color:{{accentColor}};font-style:italic;}
a.newsitem:hover {color:{{primaryLightColor}};}

/* Heroheader */
.heroheader-title{color:{{inverseTextColor}};padding-top:60px;margin:0px;font-size:50px;}
.heroheader-subtitle{color:{{inverseTextColor}};font-size:30px;margin-top:0px;}
.heroheader-version{color:{{inverseTextColor}};padding-bottom:60px;margin:0px;font-size:14px;}
#titlebutton{background-color:{{accentColor}};}
a:hover#titlebutton{color:{{inverseTextColor}};}
#trianglify-content{background:linear-gradient(135deg, {{primaryDarkColor}}, {{primaryLightColor}});}

/* Peptalks */
.peptalkitem-icon{color:{{dividerColor}};}
.peptalkitem-header{font-weight:350;}
.peptalkitem-content{text-align:justify;}

/* News Timeline */
.timeline {position: relative;}
.timeline .timeline-event {position: relative;padding-top: 5px;padding-bottom: 5px;}
.timeline .timeline-event .timeline-content {position: relative;width: calc(50% - 50px);}
.timeline .timeline-event::before {display: block;content: "";width: 2px;height: calc(50% - 30px);position: absolute;background: #d2d2d2;left: calc(50% - 1px);top: 0;}
.timeline .timeline-event::after {display: block;content: "";width: 2px;height: calc(50% - 30px);position: absolute;background: #d2d2d2;left: calc(50% - 1px);top: calc(50% + 30px);}
.timeline .timeline-event:first-child::before {display: none;}
.timeline .timeline-event:last-child::after {display: none;}
.timeline .timeline-event:nth-child(even) .timeline-content {margin-left: calc(50% + 50px);}
.timeline .timeline-event:nth-child(odd) .timeline-content {margin-left: 0;}
.timeline .timeline-badge {display: block;position: absolute;width: 40px;height: 40px;background:{{accentColor}};top: calc(50% - 20px);right: calc(50% - 20px);border-radius: 50%;text-align: center;cursor: default;}
.timeline .timeline-badge i {font-size: 25px;line-height: 40px;}
@media (max-width: 600px) {
  .timeline .timeline-event .timeline-content {width: calc(100% - 70px);}
  .timeline .timeline-event::before {left: 19px;}
  .timeline .timeline-event::after {left: 19px;}
  .timeline .timeline-event:nth-child(even) .timeline-content {margin-left: 70px;}
  .timeline .timeline-event:nth-child(odd) .timeline-content {margin-left: 70px;}
  .timeline .timeline-badge {left: 0;}
}