<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {%- capture style -%} {%- include base.css -%} {%- include gitter.css -%} {%- endcapture -%}

  <style>
	{{- style | strip_newlines -}}
  </style>

  <body>
	<!-- Navigation Header -->
	{% include header.html %}
  <main>
    <div class="container">
        <iframe class="gitter z-depth-1" src="https://gitter.im/{{page.gitter_channel}}/~embed"></iframe>
    </div>
  </main>
	{% include footer.html %}
  </body>
</html>


