<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {%- capture style -%} {%- include base.css -%} {%- include nested.css -%}  {%- endcapture -%}

  <style>
	{{- style | strip_newlines -}}
  </style>

  <body>
	<!-- Navigation Header -->
	{% include header.html %}
  <main>
  <div class="container">
        {% assign url_parts = page.url | split: '/' %}
        <div class="row breadcrumb-container">
            <div class="nav-wrapper">
                <div class="col s12">
                    {% assign path = ''%}
                    {% for part in url_parts %}
                        {% if part != '' and part != 'index.html' %}
                            {% assign path = path | append: '/' | append: part %}
                            {% if url_parts[1] contains part %}
                                <a href="{{path}}" class="breadcrumb">{{ part | remove: '.html' | url_decode | capitalize }}</a>
                            {% else %}
                                <a href="{{path}}" class="breadcrumb">{{ part | remove: '.html' | url_decode }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
		<div class="row">
            {% assign url_parts_size = url_parts | size %}
            {% assign subfolder_url_parts_size = url_parts_size | plus: 1 %}
            {% assign rm = url_parts | last %}
            {% assign base_url = page.url | replace: rm %}
            {% assign collection = site.collections | where_exp: "item", "item.label == page.collection" | first %}

            <!-- Get all subfolders -->
            {% for doc in collection.docs %}

                {% assign doc_url_parts = doc.url | split: '/' %}
                {% assign doc_url_parts_size = doc_url_parts | size %}
                {% assign subfoldername = doc_url_parts | last %}

                {% if subfolder_url_parts_size == doc_url_parts_size and subfoldername == 'index.html' %}
                    {% assign subfolder_base_url = doc.url | replace: subfoldername %}
                    {% assign subfolder_base_url_parts = subfolder_base_url | split: '/' %}
                    {% assign subfolder_name = subfolder_base_url_parts | last | url_decode %}
                    <!--create a card for subfolder -->
                    <div class="col s12 m8 push-m2 l6 xl4">
                        <a href="{{subfolder_base_url}}">
                            <div class="card small hoverable">
                                <div class="card-content">
                                    <span class="card-title">{{ subfolder_name }}</span>
                                    <p>{{doc.description}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}

            <!-- Get all files in the same folder -->
            {% for doc in collection.docs %}

                {% assign doc_url_parts = doc.url | split: '/' %}
                {% assign doc_url_parts_size = doc_url_parts | size %}
                {% assign filename = doc_url_parts | last | url_decode  %}

                {% if url_parts_size == doc_url_parts_size and filename != 'index.html' %}
                <!--create a card for file -->
                <div class="col s12 m8 push-m2 l6 xl4">
                    <a href="{{doc.url}}">
                        <div class="card small hoverable">
                            <div class="card-content">
                                <span class="card-title">{{ filename | remove: '.html' }}</span>
                                <p>{{doc.description}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
            {% endfor %}
    </div>
  </div>
  </main>
	{% include footer.html %}
  </body>
</html>