<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {%- capture style -%} {%- include base.css -%} {%- include nested.css -%}  {%- endcapture -%}

  <style>
	{{- style | strip_newlines -}}
  </style>

  <body>
	<!-- Navigation Header -->
	{% include header.html %}
  <main>
  <div class="container">
        {% assign url_parts = page.url | split: '/' %}
        <div class="row breadcrumb-container">
            <div class="nav-wrapper">
                <div class="col s12">
                    {% assign path = ''%}
                    {% for part in url_parts %}
                        {% if part != '' and part != 'index.html' %}
                            {% assign path = path | append: '/' | append: part %}
                            {% if url_parts[1] contains part %}
                                <a href="{{path}}" class="breadcrumb">{{ part | remove: '.html' | url_decode | capitalize | replace: "_", " " }}</a>
                            {% else %}
                                <a href="{{path}}" class="breadcrumb">{{ part | remove: '.html' | url_decode | replace: "_", " "}}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
		<div class="row">
            {% assign url_parts_size = url_parts | size %}
            {% assign subfolder_url_parts_size = url_parts_size | plus: 1 %}
            {% assign rm = url_parts | last %}
            {% assign base_url = page.url | replace: rm %}
            {% assign collection = site.collections | where_exp: "item", "item.label == page.collection" | first %}

            <!-- Get all subfolders -->
            {% assign docs = collection.docs | sort: 'order' %}
            {% for doc in docs %}

                {% assign doc_url_parts = doc.url | split: '/' %}
                {% assign doc_url_parts_size = doc_url_parts | size %}
                {% assign partname = doc_url_parts | last | url_decode | replace: "_", " "%}

                <!-- We assume the colelciton is organized as a nested folder structure, i.e. a tree
                and there is only one index file allowed per subfolder, so its ok to just check for 
                url_parts_size instead of comparing for same url prefixes  -->
                {% if partname == 'index.html' and subfolder_url_parts_size == doc_url_parts_size %}
                    {% assign subfolder_base_url = doc.url | replace: partname %}
                    {% assign subfolder_base_url_parts = subfolder_base_url | split: '/' %}
                    {% assign subfolder_name = subfolder_base_url_parts | last | url_decode | replace: "_", " " %}
                    <!--create a card for subfolder -->
                    <div class="col s12 m8 push-m2 l6 xl4">
                        <a href="{{subfolder_base_url}}">
                            <div class="card small hoverable">
                                <div class="card-content">
                                    <span class="card-title">{{ subfolder_name }}</span>
                                    <p>{{doc.description}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}

                 <!-- This part is only needed for content files -->
                {% assign doc_rm = doc_url_parts | last %}
                {% assign doc_base_url = doc.url | replace: doc_rm %}

                <!-- Then it's probably a content file -->
                {% if url_parts_size == doc_url_parts_size and partname != 'index.html' and doc_base_url == base_url %}
                <!--create a card for file -->
                <div class="col s12 m8 push-m2 l6 xl4">
                    <a href="{{doc.url}}">
                        <div class="card small hoverable">
                            <div class="card-content">
                                <span class="card-title">{{ partname | remove: '.html' | replace: "_", " " }}</span>
                                <p>{{doc.description}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
            {% endfor %}
    </div>
  </div>
  </main>
	{% include footer.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/1.1.0/trianglify.min.js"></script>
    {% include trianglify-mobile.html %}
  </body>
</html>